/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  /* max-width: 1024px; */
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
  margin: 0;
}
img {
  width: 100%;
}
.header {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  min-height: 668px;
  max-height: 100vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, minmax(min-content, auto));
  grid-template-areas:
    "decoration decoration decoration"
    "nav nav nav"
    "title title title"
    "text text text";
}

.header::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.decoration {
  font-family: var(--font);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
  display: grid;
  justify-content: end;
  grid-area: decoration;
}

.decoration::before {
  content: "";
  position: relative;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset: 18px 42px;
}

.decoration__text {
  margin: 0;
  min-width: 60px;
}

.header__theme-menu {
  width: 100%;
  grid-area: nav;
  display: grid;
  justify-content: end;
  padding-block-start: 26px;
}

.header__theme-menu-list {
  display: grid;
  list-style-type: none;
  gap: 16px;
  padding-inline-end: 7px;
}

.header__theme-menu-button {
  background: initial;
  border: none;
  font-family: var(--font);
  color: var(--text-color);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: 18px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--text-color);
}

.header__theme-menu-button:focus {
  outline-color: transparent;
}
.header__theme-menu-button:focus-visible {
  outline: 1px solid var(--text-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.title {
  font-family: var(--font);
  color: var(--title-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  font-weight: var(--hard);
  line-height: 95.7px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-area: title;
  margin: 56px 0 37px;
}

.accent-text {
  font-family: var(--font);
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--font-size-normal);
  font-weight: var(--hard);
  line-height: var(--line-height-paragraph);
  margin: 20px 0 0 0;
}

.header__accent-text {
  font-family: var(--font);
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--font-size-normal);
  font-weight: var(--hard);
  line-height: var(--line-height-paragraph);
  min-height: 117px;
  grid-area: text;
  justify-items: end;
  margin: 17px 0 56px 0;
}

.header::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  position: relative;
  bottom: 26px;
}

.main {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.main__article-why {
  display: grid;
}

.main__article-title {
  font-family: var(--font);
  color: var(--text-color);
  font-weight: var(--hard);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-paragraph);
  margin: 24px 0 0;
}

.main__article-text {
  font-family: var(--font);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-paragraph);
  color: var(--paragraph-text-color);
  margin: 10px 0 0;
}

.accent-text-item {
  font-family: var(--font);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-paragraph);
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  margin: 20px 0 0;
}
.main__article-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--paragraph-text-color);
  text-decoration: none;
}

.main__article-link:hover {
  text-decoration: underline;
}

.main__article-link:focus {
  outline-color: transparent;
}

.main__article-link:focus-visible {
  outline: 1px solid var(--paragraph-text-color);
}

.main__article-title-what {
  padding-block-start: 26px;
}

.main__article-how {
  padding-block-start: 26px;
}

.main__galery-title {
  margin-top: 50px;
}

.sun {
  margin-top: 10px;
}
.ice {
  margin-top: 6px;
}
.sound {
  margin-top: 6px;
}
.book {
  margin-top: 6px;
}
.street {
  margin-top: 6px;
  margin-block-end: 38px;
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  position: absolute;
  left: 10px;
  top: 6734px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 668px;
  max-height: 100vh;
}
.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
  margin: 0;
}

.footer::after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  position: absolute;
  right: 10px;
  top: 6113px;
}

@media (min-width: 768px) {
  .header::before {
    top: 20px;
    right: 20px;
  }

  .header {
    min-height: 768px;
    max-height: 100vh;
    padding-block-end: 210px;
  }
  .decoration {
    padding-inline-end: 11px;
  }

  .decoration__text {
    margin: 11px 0;
  }
  .decoration::before {
    inset: 28px 44px;
  }

  .header__theme-menu {
    padding-block-start: 136px;
    padding-block-end: 116px;
    padding-inline-end: 5px;
  }

  .header__theme-menu-list {
    gap: 17px;
    padding-inline-end: 12px;
  }

  .header__title {
    font-size: 120px;
    text-align: start;
    padding-right: 142px;
    margin: 64px 10px 64px -10px;
  }
  .header__accent-text {
    margin-block-start: 99px;
    margin-block-end: 223px;
    grid-column-start: 2;
    margin-inline-start: 125px;
    margin-inline-end: 10px;
  }
  .header::after {
    left: 10px;
    top: 353px;
  }

  .main {
    display: grid;
  }
  .main__article-why {
    grid-template-columns: minmax(256px, 314px) minmax(472px, 984px);
    grid-template-rows: auto;
    margin-block-end: 60px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-block-start: 209px;
  }

  .main__article-title {
    grid-row-start: 1;
    grid-row-end: 5;
    max-width: 230px;
    margin: 20px 0 0;
  }
  .main__article-what {
    padding-inline-end: 10px;
    padding-inline-start: 10px;

    margin-block-end: 59px;
  }

  .main__article-title-what {
    padding-block-start: 0px;
  }
  .main__article-how {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    display: grid;
    grid-template-columns: minmax(256px, 314px) minmax(472px, 984px);
    margin-block-end: 31px;
    padding-block-start: 0px;
  }

  .main__article-title-how {
    grid-row-start: 1;
    grid-row-end: 13;
  }

  .main__galery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "text text text"
      "sun sun ice"
      "sound book ice"
      "sound street street";
    gap: 10px;
    padding-block-end: 142px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
  }

  .main__galery-title {
    grid-area: text;
  }

  .sun {
    grid-area: sun;
  }

  .ice {
    grid-area: ice;
    display: block;
    height: 100%;
    object-fit: cover;
  }
  .sound {
    grid-area: sound;
    display: block;
    height: 93%;
    object-fit: cover;
  }

  .book {
    grid-area: book;
  }

  .street {
    grid-area: street;
  }

  .footer::before {
    left: 20px;
    top: 5804px;
  }

  .footer {
    min-height: 768px;
    max-height: 100vh;
  }

  .footer__title {
    margin-block-start: 14px;
    font-size: 120px;
  }

  .footer::after {
    right: 20px;
    top: 4846px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    padding-block-end: 0px;
  }
  .header__theme-menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    max-height: 150px;
    padding: 0px;
  }
  .decoration {
    /* justify-content: end;
    align-content: center; */
    padding: 0 10px 108px;
    grid-column-start: 3;
  }

  .header__theme-menu-list {
    display: flex;
       gap: 25px;
       padding: 22px 59px;
  }

  .header__title {
    grid-row-start: 2;
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
    padding-block-start: 108px;
  }

  .header__accent-text {
    min-width: 491px;
    min-height: 71px;
    margin-block-start: 65px;
    margin-block-end: 174px;
    grid-column-start: 2;
    margin-inline-start: 168px;
  }

  .header::after {
    top: 722px;
  }

  .main__article-title {
    max-width: 314px;
  }

  .main__article-why {
    column-gap: 20px;
    padding-block-start: 0;
  }

  .main__article-what {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: 1fr auto auto;
    column-gap: 20px;
  }

  .main__article-title-what {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .main__article-text-what {
    grid-row-start: 3;
  }

  .main__article-how {
    column-gap: 20px;
  }
  .main__galery-title {
    margin-block-start: 50px;
    row-gap: 20px;
  }
  .main__galery {
    row-gap: 10px;
    column-gap: 15px;
    padding-block-end: 125px;
  }

  .footer::before {
    left: 20px;
    top: 4960px;
  }

  .footer {
    min-height: 555px;
  }

  .footer__title {
    margin-block-start: 14px;
    font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  }

  .footer::after {
    right: 20px;
    top: 4260px;
  }
}
