.page {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: left;
  max-width: 1024px;
  margin: auto;
}
img {
  width: 100%;
}

:focus {
  outline: none;
}

button {
  cursor: pointer;
}

.header::before {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  position: absolute;
  top: 10px;
  right: 10px;
}

.header {
  position: relative;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 491px));
  grid-template-rows: 75px minmax(164px, max-content) minmax(
      min-content,
      max-content
    ) minmax(auto, min-content);
  grid-template-areas:
    "decoration decoration decoration"
    "nav nav nav"
    "title title title"
    "text text text";
}

.header::after {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  position: absolute;
  bottom: 30px;
  left: 10px;
}

.decoration {
  font-family: var(--font);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: 25px;
  text-transform: uppercase;
  color: var(--accent-color);
  display: grid;
  justify-content: end;
  grid-area: decoration;
  grid-template-columns: repeat(auto-fit, minmax(52px, max-content));
  max-height: 35px;
}

.decoration::before {
  content: "";
  position: relative;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset: 18px 95px;
}

.decoration__text {
  padding-block-start: 10px;
  padding-inline-end: 28px;
}

.header__theme-menu {
  width: 100%;
  grid-area: nav;
  display: grid;
  justify-content: end;
  /* padding-block-start: 40px;
  padding-block-end: 51px; */
}

.header__theme-menu-list {
  display: grid;
  list-style-type: none;
  max-height: 95px;
  min-width: 70px;
  align-content: space-between;
}

.header__theme-menu-button {
  background: initial;
  border: none;
  font-family: var(--font);
  color: var(--text-color);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: 18px;
  text-transform: lowercase;
  padding: 2px 13px 3px;
  transition: outline 0.6s;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--outline-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--text-color);
}

.header__theme-menu-button.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--text-color);
}

.title {
  font-family: var(--font);
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: var(--hard);
  line-height: 95.7px;
}

.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  grid-area: title;
  padding-block-end: 55px;
}

.accent-text {
  font-family: var(--font);
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--font-size-normal);
  font-weight: var(--hard);
  line-height: var(--line-height-paragraph);
  margin: 20px 0 0 0;
}

.header__accent-text.accent-text {
  font-family: var(--font);
  color: var(--accent-text-color);
  background-color: var(--accent-color);
  font-size: var(--font-size-normal);
  font-weight: var(--hard);
  line-height: 23.4px;
  max-width: 355px;
  max-height: 117px;
  padding-block-end: 7px;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  margin: 0;
}

.main {
  padding-inline-start: 10px;
  padding-inline-end: 10px;
  padding-block-end: 30px;
}

.main__article-why {
  display: grid;
}

.main__article-title {
  font-family: var(--font);
  color: var(--text-color);
  font-weight: var(--hard);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-paragraph);
  margin: 20px 0 0;
}

.main__article-text {
  font-family: var(--font);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-paragraph);
  color: var(--paragraph-text-color);
  margin: 10px 0 0;
}

.accent-text-item {
  font-family: var(--font);
  font-weight: var(--medium);
  font-size: var(--font-size-normal);
  line-height: var(--line-height-paragraph);
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  margin: 20px 0 0;
}
.main__article-link {
  text-shadow: 2px 2px 0 var(--accent-color);
  color: var(--paragraph-text-color);
  text-decoration: none;
  transition: outline 0.6s;
}

.main__article-link:hover {
  border-bottom: 1px solid var(--paragraph-text-color);
}

.main__article-link:focus-visible {
  outline: 1px solid var(--paragraph-text-color);
}

.main__article-what {
  display: grid;
  grid-template-columns: fit-content(315px), minmax(min-content, max-content);
  grid-template-rows: repeat(4, minmax(min-content, max-content));
}

.main__article-title-what {
  padding-block-start: 30px;
}

.main__article-how {
  padding-block-start: 30px;
  display: grid;
}

.main__galery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 100%));
  grid-template-rows: repeat(4, min-content);
  row-gap: 10px;
}

.main__galery-title {
  margin-top: 50px;
}

.footer::before {
  content: "";
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--text-color);
  border-left: 1px solid var(--text-color);
  position: absolute;
  left: 10px;
  bottom: 20px;
}

.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.footer::after {
  content: "";
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--text-color);
  border-right: 1px solid var(--text-color);
  position: absolute;
  top: 20px;
  right: 10px;
}

@media (min-width: 768px) {
  .header::before {
    top: 20px;
    right: 20px;
  }

  .header::after {
    left: 20px;
    bottom: 20px;
  }

  .decoration {
    padding-block-start: 10px;
    padding-inline-end: 9px;
  }

  .header__theme-menu {
    padding-block-start: 116px;
    padding-block-end: 129px;

    padding-inline-end: 10px;
  }

  .header__theme-menu-list {
    gap: 15px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    padding-block-start: 50px;
    text-indent: -10px;
  }

  .header__accent-text.accent-text {
    margin: 0;
    margin-block-start: 110px;
    margin-block-end: 128px;
    grid-column-start: 2;
    margin-inline-end: 10px;
    max-width: 364px;
  }

  .main__article-why {
    grid-template-columns: minmax(256px, 314px) minmax(472px, 984px);
    grid-template-rows: repeat(auto-fit, minmax(244px, max-content));
    margin-block-end: 40px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    padding-block-start: 40px;
  }

  .main__article-title {
    max-width: 230px;
  }

  .main__article-title-why {
    grid-row-start: 1;
    grid-row-end: span 2;
    margin: 20px 0 0;
  }

  .main__article-what {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    margin-block-end: 60px;
  }

  .main__article-title-what {
    margin: 10px 0 0;
  }
  .main__article-how {
    padding-inline-end: 10px;
    padding-inline-start: 10px;
    margin-block-end: 31px;
    padding-block-start: 0px;
    grid-template-columns: minmax(256px, 314px) minmax(472px, 984px);
  }

  .main__article-title-how {
    grid-row-start: 1;
    grid-row-end: 13;
    margin: 20px 0;
  }

  .main__galery {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(4, min-content);
    grid-template-areas:
      "text text text"
      "sun sun ice"
      "sound book ice"
      "sound street street";
    gap: 20px;
    padding-block-end: 20px;
    padding-inline-end: 10px;
    padding-inline-start: 10px;
  }

  .main__galery-title {
    grid-area: text;
  }

  .sun {
    grid-area: sun;

    height: 100%;
    object-fit: cover;
  }

  .ice {
    grid-area: ice;

    height: 100%;
    object-fit: cover;
  }
  .sound {
    grid-area: sound;
    height: 100%;
    object-fit: cover;
  }

  .book {
    grid-area: book;
    height: 100%;
    object-fit: cover;
  }

  .street {
    grid-area: street;
    height: 100%;
    object-fit: cover;
  }

  .footer::before {
    left: 20px;
    bottom: 10px;
  }

  .footer__title {
    margin-block-start: 14px;
  }

  .footer::after {
    right: 20px;
    top: 30px;
  }
}

@media (min-width: 1024px) {
  .header {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    /* grid-template-rows: 50px auto ; */
    padding-block-end: 0px;
  }

  .header__theme-menu {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    max-height: 150px;
    padding: 0px;
  }

  .header__theme-menu-list {
    display: flex;
    gap: 11px;
    padding-block-start: 22px;
    padding-inline-end: 52px;
  }

  .decoration {
    padding-inline-end: 0;
  }

  .decoration__text {
    padding-inline-end: 38px;
  }

  .header__title {
    padding-block-start: 98px;
  }

  .header__accent-text.accent-text {
    margin-block-start: 76px;
    margin-inline-start: 168px;
    max-width: 491px;
    max-height: 69px;
  }

  .main {
    padding-inline-end: 0;
    padding-block-start: 40px;
  }

  .main__article-title {
    max-width: 314px;
  }

  .main__article-why {
    column-gap: 21px;
    padding-block-start: 0;
    padding-inline-end: 20px;
  }

  .main__article-what {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(315px, 1fr));
    column-gap: 20px;
    padding-inline-end: 20px;
  }

  .main__article-title-what {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .main__article-text-what {
    grid-row-start: 3;
  }

  .main__article-how {
    column-gap: 21px;
    padding-inline-end: 20px;
  }
  .main__galery-title {
    margin-block-start: 50px;
    row-gap: 20px;
  }
  .main__galery {
    gap: 20px;

    padding-inline-end: 20px;
  }
}
